<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center">FrechFruits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="bg-dgray">
      <h1>TCHINWA Ismael Clinton</h1>
    </ion-card-header>
    <ion-img src="../assets/IMG_4073.jpg"></ion-img>
    <!-- <ion-card-content>
      
    </ion-card-content> -->
  </ion-card>

<ion-footer>
<h3 class="text-center bg-dgray">Copyright Tp1 Ionic @2023-2024</h3>
</ion-footer>
